//colors
:root {
	--black: #000000;
	--white: #ffffff;
	--grey-50: #F6F6F6;
	--grey-100: #E7E7E7;
	--grey-200: #D1D1D1;
	--grey-300: #B0B0B0;
	--grey-400: #888888;
	--grey-500: #6D6D6D;
	--grey-600: #5D5D5D;
	--grey-700: #4F4F4F;
	--grey-800: #454545;
	--grey-850: #2D2D2D;
	--grey-900: #3D3D3D;
	--grey-950: #2C2C2C;
	--beige-50: #F9F7F1;
	--beige-100: #F3ECE1;
	--beige-300: #D7C09F;
	--beige-500: #B98757;
	--beige-600: #9C6743;
	--beige-700: #83503A;
	--viridian-50: #F4F7F7;
	--viridian-100: #E2EBEB;
	--viridian-200: #C9D8D8;
	--viridian-300: #B2C7C7;
	--viridian-600: #4A6366;
	--viridian-gradient: linear-gradient(180deg, #2D5467 0%, #8FB4CF 100%);
	--purple-gradient: linear-gradient(359.35deg, #D6C4FF 0.76%, #EDE3F3 95.17%);
	--beige-gradient: linear-gradient(180deg, #E8D0AE 25.14%, #A2673C 154.45%);
	--red-gradient: linear-gradient(180deg, #60384E 0%, #E3CBCB 100%);
	--blue-gradient: linear-gradient(180deg, #668CC4 0%, #C7DAEC 100%);
}
