//fonts

@font-face {
	font-family: "Neue Haas Grotesk Text Pro";
	src: url("../fonts/Neue-Haas-Grotesk-Text-Pro.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
