//fonts

@font-face {
	font-family: "Aspekta";
	src: url("../fonts/Aspekta-400.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Aspekta";
	src: url("../fonts/Aspekta-450.ttf") format("truetype");
	font-weight: 450;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
