@use "../base/media" as *;

html,
body {
	font-family: "Aspekta", sans-serif;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.14px;
}

p {
	font-family: "Aspekta", sans-serif;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.14px;
}

h1 {
	font-size: 72px;
	line-height: 72px;
	letter-spacing: -2%;
	@include media(lmd) {
		font-size: 32px;
		line-height: 36px;
		letter-spacing: -.64px;
	}
}

h2 {
	font-size: 56px;
	line-height: 64px;
	letter-spacing: -1.12px;
	@include media(lmd) {
		font-size: 28px;
		line-height: 32px;
		letter-spacing: -.56px;
	}
}

h3 {
	font-size: 48px;
	line-height: 56px;
	letter-spacing: -.96px;
	@include media(lmd) {
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -.48px;
	}
}

h4 {
	font-size: 32px;
	line-height: 40px;
	letter-spacing: -.64px;
	@include media(lmd) {
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -.48px;
	}
}

h5 {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -.48px;
	font-weight: 450;
}